@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
$button_color: #ccc;
$button_color_darken: #657074;
$border-color: #ccc;
$font-size: 16px;

.courselist {
	font-size: $font-size;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	padding: 5px;
	display: flex;
	flex-direction: column;

	& ul {
		list-style: none;
		padding-left: 0;
		font-size: 1.2rem;
	}

	& h1 {
		font-size: 4rem;
	}
}
.courselist__item {
	align-items: baseline;
	background-color: transparent;
	border: 1px solid $border-color;
	cursor: pointer;
	margin: 3px;
	transition: background-color 0.2s linear, color 0.2s ease-in;
	flex-direction: row;

	& a {
		color: #222;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}

	&:hover {
		background-color: darkcyan;
		color: white;
	}
}

.courselist__item-price {
	margin-top: 15px;
	transition: display 0.3s ease-in-out;
	width: 50%;

	& input {
		padding: 2px;
	}
	& label {
		margin-right: 2em;

		& div {
			width: fit-content;
		}
	}
}

.new-course-btn {
	background-color: #9c27b0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	width: 30%;
	transition: color 0.2s ease-out, background-color 0.2s ease-in;
	padding: 14px 10px;
	border-radius: 1px;
	align-self: flex-end;

	&:hover {
		color: #eee;
		background-color: darken($button_color, 33%);
	}
}
