.NewLesson {
	font-family: "Source Sans Pro", helvetica, sans-serif;

	& form {
		& label {
			margin-bottom: 0.6em;
			display: block;
			& input {
				border: 1px solid #c244d8;
				border-radius: 10px;
				font-weight: 100;
				background-color: #e7e7e7;
				margin-top: 1rem;
				outline: none;
				-webkit-transition: box-shadow 0.2s;
				width: 100%;
				transition: box-shadow 0.2s;
				margin-bottom: 20px;
			}
		}
	}
}
